@font-face {
    font-family: 'NR';
    src: url(../fonts/NotoSans-Regular.ttf);
}

@font-face {
    font-family: 'NL';
    src: url(../fonts/NotoSans-Light.ttf);
}

@font-face {
    font-family: 'NB';
    src: url(../fonts/NotoSans-SemiBold.ttf);
}

@font-face {
    font-family: 'NM';
    src: url(../fonts/NotoSans-Medium.ttf);
}

@font-face {
    font-family: 'Font-Awesome';
    src: url('../fonts/fontawesome/fa-brands-400.woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'Font-Awesome';
    src: url('../fonts/fontawesome/fa-duotone-900.woff2');
    font-weight: 900;
}
@font-face {
    font-family: 'Font-Awesome';
    src: url('../fonts/fontawesome/fa-light-300.woff2');
    font-weight: 300;
}
@font-face {
    font-family: 'Font-Awesome';
    src: url('../fonts/fontawesome/fa-regular-400.woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'Font-Awesome';
    src: url('../fonts/fontawesome/fa-solid-900.woff2');
    font-weight: 900;
}

.fa {
    display: inline-block;
    font-family: 'Font-Awesome';
    font-style: normal;
}